.input-color-rounded {
    -webkit-appearance: none;
    @apply p-0 w-6 h-6 rounded; 
    top: 5px;
}
.input-color-rounded::-webkit-color-swatch {
    @apply p-0 w-6 h-6 rounded;
    top: 5px;
}

.input-color-rounded::-webkit-color-swatch-wrapper {
    @apply p-0 w-6 h-6 rounded; 
    top: 5px;
}